
# /data/system access
allow system_app system_data_file:file r_file_perms;

# Allow access theme data files
allow system_app theme_data_file:dir create_dir_perms;
allow system_app theme_data_file:file create_file_perms;
